.gameSurface {
  position: relative;
  background: var(--game-surface-background-color);
}

.gameSurfaceComponent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.gridCanvas {
  background: transparent;
}

.fowPath {
  --blur-size: 10px;

  filter: blur(var(--blur-size));
}
